## Assignment 1

In [1]:
#A loop statement that prints out numbers between 1 and 20 which includes 20

first_number = 1
while first_number <= 20:
    print(first_number)
    first_number += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## Assignment 2

In [3]:
#Loop statement that printss out even numbers between 30 and 70 which includes 70

first_nunber = 30

for even in range(30,70+1):
    if even % 2 == 0:
        print(even)

30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70

## Assignment 3

In [4]:
#A loop statement that prints out the multiplication table of 5 is 
first_num = 1
five = 5
for multiplier in range(1,12+1):
    print(f" 5 * {first_num} = {five * multiplier} ")
    first_num += 1

 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50
 5 * 11 = 55
 5 * 12 = 60

## Assignment 4

In [5]:
#A loop statement that accepts input from user and returns the factorial of the number.

num_input = input("Enter the number: ")
num  = int(num_input)

def num_factorial(num):
    factorial = 1
    if num == 0 or num == 1:
        factorial = 1
    for digit in range (1, num+1):
        factorial *= digit
    return factorial
    
result = num_factorial(num)
print ("The factorial of ", num, "is: ",result)

Enter the number: 5
The factorial of  5 is:  120