In [3]:
#Creating a file with name myfile 
#opening the file and writing multiplication table 2 using loop and string formatting
with open("myfile.txt", "w") as myfile:
    myfile.write("For multiplication table of 2!\n")
    start_num = 1
    two = 2
    for multiples in range(1, 15+1):
        myfile.write(f"{two} * {start_num} = {2 * multiples} \n")
        start_num +=1
        if multiples == 12:
            break

In [2]:
#Reading and printing the content of myfile
with open("myfile.txt","r") as myfile:
    print(myfile.read())
    print("Assignment on Multiplication table by 2 completed!")

For multiplication table of 2!
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24

Assignment on Multiplication table by 2 completed!